<h3>Send as follows:</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  
  <p>title : <%=@blog.title%></p>
  <p>content : <%=@blog.content%></p>
  <%= form.submit "submit" %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit 'back', name: 'back' %>
<% end %>