<h1>Blogs</h1>

<table>
  <% @blog.each do |blog| %>
  <tr>
    <th><%= blog.title %></th>
    <th><%= blog.content %></th>
    <th><%= link_to 'show', blog_path(blog.id) %></th>
    <th><%= link_to 'edit', edit_blog_path(blog.id) %></th>
    <th><%= link_to 'delete', blog_path(blog.id), method: :delete %></th>
  </tr>
  <% end %>
  <%= link_to 'new', new_blog_path %>
</table>