<div class="container">
  <h1>Blogs</h1>

  
    <% @blog.each do |blog| %>
    <ul class="row">
      <li class="col-md-3 col-xs-2 workbreak"><%= blog.title %></li>
      <li class="col-md-6 col-xs-3 workbreak"><%= blog.content %></th>
      <li class="col-md-1 col-xs-2"><%= link_to 'show', blog_path(blog.id), class: 'button' %></li>
      <li class="col-md-1 col-xs-2"><%= link_to 'edit', edit_blog_path(blog.id), class: 'button' %></li>
      <li class="col-md-1 col-xs-2"><%= link_to 'delete', blog_path(blog.id), method: :delete, class: 'button' %></li>
    </ul>
    <% end %>
    <%= link_to 'new', new_blog_path, class: 'button' %>
  
</div>
