<h1><%= @user.name %> page </h1>
<p>emails : <%= @user.email %></p>

<% @favorites_blogs.each do |favorites_blogs| %>
  <div class="blog_box col-md-6">
    <ul class="row">
      <li class="col-md-1 col-xs-1 workbreak"><%= favorites_blogs.title %></li>
      <li class="col-md-5 col-xs-3 workbreak"><%= favorites_blogs.content %></li>
      <li class="col-md-1 col-xs-1 workbreak"><%= favorites_blogs.user.name %></li>
      <li class="col-md-1 col-xs-2"><%= link_to 'show', blog_path(favorites_blogs.id), class: 'button' %></li>
      <% if defined?(current_user.id) %>
        <% if favorites_blogs.user_id == current_user.id %>
          <li class="col-md-1 col-xs-2"><%= link_to 'edit', edit_blog_path(favorites_blogs.id), class: 'button' %></li>
          <li class="col-md-1 col-xs-2"><%= link_to 'delete', blog_path(favorites_blogs.id), method: :delete, class: 'button' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
